<!-- <div class="container"> -->
  <div class="row">
    <div class="well search-area">
      <div class="main-header">
        <a class="btn btn-danger logout" href="/logout">Logout</a>
        <h1 class="main-header-one">Sniperator</h1>
        <a class="col-md-2 btn btn-danger" href="/add">Create Snippet</a>
        <a class="col-md-2 btn btn-success" href="/">My Snippets</a>
      </div>
      <form action="/languagesearch" class="input-group col-md-8" method="post">
              <input type="text" name="langsearch" class="col-md-10" value="" placeholder="Language Search">
              <button type="submit" class="col-md-2 btn btn-primary" type="button">Search</button>
      </form>
      <form action="/tagsearch" class="input-group col-md-8" method="post">
              <input type="text" name="tagsearch" class="col-md-10" value="" placeholder="Tag Search">
              <button type="submit" class="col-md-2 btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
<!-- </div> -->

<div class="row">
  {{#each snippet}}

  <div class="col-md-4 text-center snippet-block">
    <div class="row">
      <div class="col-md-12 bg-primary">
        <h2 class="snip-head">{{title}}</h2>
      </div>
    </div>

  <h3 class="snip-code-title">CODE:</h3>

  <div class="well well-code-body">
    <h3>{{body}}</h3>
  </div>

  <h4>Notes: {{notes}}</h4>
  <h4>Language: {{language}}</h4>
  <h5>Tags: {{tags}}</h5>
  
    <div class="row">
      <a class="col-md-6 btn btn-warning" href="/{{_id}}/update">Edit</a>
      <a class="col-md-6 btn btn-danger" href="/{{_id}}/delete">Delete</a>
      <br>
      <br>
      <a class="col-md-12 btn btn-success" href="/{{_id}}/view">View this Snippet</a>
    </div>

  </div>
  {{/each}}
</div>
