<div class="jumbotron">
  <a href="/logout" class="btn btn-danger pull-right">Logout</a>
  <h1>Sniperator</h1>
  <h2>Code city, baby!</h2>
  <br>
  <a class="col-md-2 btn btn-danger" href="/add">Create Snippet</a>
  <a class="col-md-2 btn btn-success" href="/">View All</a>

</div>

<div class="well">
  <h3>Code Search</h3>
  <form action="/languagesearch" class="input-group col-md-12" method="post">
          <input type="text" name="langsearch" class="col-md-6"name="" value="">
          <button type="submit" class="col-md-2 btn btn-primary" type="button">Search</button>
  </form>
</div>

{{#each snippet}}
    <div class="col-md-4 well text-center">
      <h2><strong>Title: {{title}}</strong></h2>
      <h3>Snip: {{body}}</h3>
      <h4>Notes: {{notes}}</h4>
      <h4>Language: {{language}}</h4>
      <h5>Tags: {{tags}}</h5>
        <div class="row">
          <a class="col-md-6 btn btn-warning" href="/{{_id}}/update">Edit</a>
          <a class="col-md-6 btn btn-danger" href="/{{_id}}/delete">Delete</a>
          <br>
          <br>
          <a class="col-md-12 btn btn-success" href="/{{_id}}/view">View this Snippet</a>
        </div>
    </div>
{{/each}}
