<div class="jumbotron">
  <h1>Code View</h1>
  <a class="col-md-2 btn btn-success" href="/">Go Back</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Title: {{title}}</h1>
      <h2>Body: {{body}}</h2>
      <h2>Notes: {{notes}}</h2>
      <h2>Language: {{language}}</h2>
      <h2>Tags: {{tags}}</h2>
    </div>
  </div>
</div>
